<div class="container">
  <div class="header">
    <h1>Finanțele Mele</h1>
    <button (click)="openAddAccountModal()" class="add-button">Adaugă Cont</button>
  </div>

  <div class="total-amount-container">
    <div class="total-amount">Total Disponibil: {{ totalAmount }} lei</div>
  </div>

  <div class="accounts-grid">
    <div class="account-card" *ngFor="let account of accounts">
      <h2>{{ account.type }}</h2>
      <p>Suma Disponibilă: {{ account.balance }} lei
        <button class="add-funds-button" (click)="openAddFundsModal(account.id)">
          <img src="assets/add-button.png" alt="Adaugă Bani" class="add-icon">
        </button>
      </p>
      <p class="cheltuieli-recente">Cheltuieli Recente:
        <button class="add-expense-button" (click)="openAddExpenseModal(account.id)">
          <img src="assets/add-button.png" alt="Adaugă Cheltuială" class="add-icon">
        </button>
      </p>
      <ul *ngIf="account.expenses && account.expenses.length > 0">
        <li *ngFor="let expense of account.expenses">
          {{ expense.description }} - {{ expense.amount }} lei
          <button (click)="deleteExpense(account.id, expense.id)" class="delete-expense-button">X</button>
        </li>
      </ul>
      <button class="delete-button" (click)="deleteAccount(account.id)">
        <img src="assets/delete-icon.png" alt="Șterge" class="delete-icon">
      </button>
    </div>
  </div>

  <div class="expense-reports">
    <div *ngFor="let account of accounts">
      <div *ngIf="expenseReportsFromDb[account.id] && expenseReportsFromDb[account.id].length > 0" class="expense-report-card">
        <h3>Raport - {{ account.type }}</h3>
        <div class="navigation-buttons">
          <button (click)="showPreviousReport(account.id)" [disabled]="currentMonthIndex[account.id] === 0">Luna Anterioară</button>
          <button (click)="showNextReport(account.id)" [disabled]="currentMonthIndex[account.id] === expenseReportsFromDb[account.id].length - 1">Luna Următoare</button>
        </div>
        <div *ngIf="expenseReportsFromDb[account.id][currentMonthIndex[account.id]]">
          <p>Luna: {{ formatMonth(expenseReportsFromDb[account.id][currentMonthIndex[account.id]].month) }}</p>
          <p>Total Cheltuieli: {{ expenseReportsFromDb[account.id][currentMonthIndex[account.id]].totalExpenses }} lei</p>
          <p>Număr de Cheltuieli: {{ expenseReportsFromDb[account.id][currentMonthIndex[account.id]].numberOfExpenses }}</p>
          <ul>
            <li *ngFor="let expense of expenseReportsFromDb[account.id][currentMonthIndex[account.id]].expenses">
              {{ expense.description }} - {{ expense.amount }} lei
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Account Modal -->
<div class="modal" [ngClass]="{'show-modal': showAddAccountModal}">
  <div class="modal-content">
    <h4>Adauga Cont:</h4>
    <span class="close-button" (click)="closeAddAccountModal()">&times;</span>
    <form [formGroup]="accountForm" (ngSubmit)="addAccount()">
      <label for="type">Tip Cont</label>
      <input formControlName="type" id="type" placeholder="Cash/Card/Economii" required>
      
      <label for="amount">Suma Disponibilă</label>
      <input formControlName="amount" id="amount" type="number" placeholder="Suma" required>
      
      <button type="submit">Adaugă Cont</button>
    </form>
  </div>
</div>

<!-- Add Expense Modal -->
<div class="modal" [ngClass]="{'show-modal': showAddExpenseModal}">
  <div class="modal-content">
    <h4>Adauga cheltuiala:</h4>
    <span class="close-button" (click)="closeAddExpenseModal()">&times;</span>
    <form [formGroup]="expenseForm" (ngSubmit)="addExpense(currentAccountId!)">
      <label for="description">Descriere</label>
      <input formControlName="description" id="description" placeholder="Descriere" required>
      
      <label for="amount">Suma</label>
      <input formControlName="amount" id="amount" placeholder="999" type="number" required>

      <label for="date">Data</label>
      <input formControlName="date" id="date" type="date" required>
      
      <button type="submit">Adaugă Cheltuială</button>
    </form>
  </div>
</div>

<!-- Add Funds Modal -->
<div class="modal" [ngClass]="{'show-modal': showAddFundsModal}">
  <div class="modal-content">
    <h4>Adaugă Bani în Cont:</h4>
    <span class="close-button" (click)="closeAddFundsModal()">&times;</span>
    <form [formGroup]="fundsForm" (ngSubmit)="addFunds(currentAccountId!)">
      <label for="amount">Suma</label>
      <input formControlName="amount" id="amount" type="number" placeholder="Suma" required>
      
      <button type="submit">Adaugă Bani</button>
    </form>
  </div>
</div>
