.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center; /* Centrează titlul */
  align-items: center;
  position: relative; /* Permite poziționarea absolută a butonului de adăugare */
}

.add-button {
  position: absolute;
  right: 0; /* Poziționează butonul de adăugare în dreapta */
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.total-amount-container {
  display: flex;
  justify-content: center; /* Centrează conținutul */
  margin-top: 20px;
  margin-bottom: 40px;
}

.total-amount {
  background-color: #ffcccb; /* Roz */
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.form-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.accounts-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centrează cardurile conturilor */
}

.account-card,
.expense-card {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Adăugat pentru poziționarea absolută a butonului */
}

.account-card h2,
.expense-card h3 {
  margin-top: 0;
}

.delete-button {
  position: absolute;
  top: 20px;
  right: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0; /* Elimină padding-ul implicit al butonului */
}

.delete-icon {
  width: 30px; /* Setează lățimea imaginii */
  height: 30px; /* Setează înălțimea imaginii */
  object-fit: cover; /* Asigură că imaginea se potrivește în dimensiunea setată */
}

.expense-reports {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Centrează rapoartele */
  margin-top: 20px;
}

.cash-expense-card {
  background-color: #e3f2fd; /* Light blue */
}

.card-expense-card {
  background-color: #ffe0b2; /* Light orange */
}

.savings-expense-card {
  background-color: #c8e6c9; /* Light green */
}
