body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.goals-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.long-term-goals, .specific-goals {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.change-button {
  padding: 10px 20px;
  font-size: 1em;
  color: black;
  background-color: #ffcccb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  vertical-align: middle;
}

.add-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 200px;
  text-align: left;
  position: relative;
}

.card button {
  background-color: #ffcccb;
  border: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
}

.close {
  padding-left: 10px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], textarea, input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  width: 100%;
  padding: 10px;
  background-color: #ffcccb;
  border: none;
  color: black;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #ffb3b3;
}
