
<div class="login-container">
    <div class="wallet-logo">
      <img src="/assets/MindfulWalletLogo.png" alt="Mindful Wallet Logo">
    </div>
    
    <h1>Mindful Wallet</h1>
  
    <form  class="login-form">
      <label for="email">Enter New Password</label>
      <input formControlName="email" type="email" id="email" placeholder="New Password" aria-label="Email" required>
      
      <input formControlName="password" type="password" id="password" placeholder="Confirm password" aria-label="Password" required>
      <button  type="submit" class="btn btn-primary">Save</button>
    </form>
  
  </div>
  