<div class="reset-container">
  <div class="wallet-logo">
    <img src="/assets/MindfulWalletLogo.png" alt="Mindful Wallet Logo">
  </div>
  
  <h1>Mindful Wallet</h1>

  <form [formGroup]="resetPasswordForm" class="reset-form">
    <label for="password">Enter New Password</label>
    <input formControlName="password" type="password" id="password" placeholder="New Password" aria-label="Password" required>
    <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required', 'password')" class="text-danger">
      *Password is required
    </small> 
    <small *ngIf="resetPasswordForm.hasError('pattern', 'password')" class="text-danger">
      *Password must include at least one uppercase letter, one lowercase letter, one number, and one special character and have 8 or more characters
    </small>

    <input formControlName="confirmPassword" type="password" id="confirmPassword" placeholder="Confirm Password" aria-label="Password" required>
    <small *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')" class="text-danger">
      *Confirm password please
    </small>
    <small *ngIf="resetPasswordForm.hasError('mustMatch','confirmPassword')" class="text-danger">
      *Passwords don't match
    </small>
    <button (click)="reset()" type="submit" class="btn btn-primary">Save</button>
  </form>

</div>
