<!DOCTYPE html>
<html>
<body>
<div class="calendar-container">
    <header class="calendar-header">
        <h1>Calendar Obiective</h1>
        <div class="calendar-controls">
            <button class="control-button" (click)="prevMonth()">&lt;</button>
            <span>{{ monthNames[currentMonth] }} {{ currentYear }}</span>
            <button class="control-button" (click)="nextMonth()">&gt;</button>
        </div>
    </header>
    <div class="calendar">
        <div class="calendar-header-row">
            <div class="calendar-day">Sun</div>
            <div class="calendar-day">Mon</div>
            <div class="calendar-day">Tue</div>
            <div class="calendar-day">Wed</div>
            <div class="calendar-day">Thu</div>
            <div class="calendar-day">Fri</div>
            <div class="calendar-day">Sat</div>
        </div>
        <div *ngFor="let week of weeks" class="calendar-week">
            <div *ngFor="let date of week" class="calendar-date">
                <div *ngIf="date.date" class="date-number">{{ date.date }}</div>
                <div *ngFor="let event of date.events" class="event">
                    {{ event.description }} - {{ event.type }}
                </div>
                <button *ngIf="date.events.length > 1" class="more-button" (click)="openModal(date.events)">More</button>
            </div>
        </div>
    </div>
    <div *ngIf="showModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h2>Events</h2>
            <div *ngFor="let event of modalEvents">
                <p>{{ event.description }} - {{ event.type }} - {{ event.amount }}</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
