<div class="container">
  <div class="header">
    <h1>Salutări, {{ userName }}!</h1>
  </div>
  
  <div class="sections">
    <div class="section sfaturi">
      <h2>Sfaturi</h2>
      <p>Personalizează sfaturile bazate pe comportamentul tău financiar.</p>
    </div>
    
    <div class="section goals">
      <h2>Goals</h2>
      <p>Setează și monitorizează obiectivele tale financiare.</p>
    </div>
    
    <div class="section_reports">
      <h2>Rapoarte</h2>
      <p>Vizualizează rapoartele detaliate ale cheltuielilor tale.</p>
      <div *ngIf="currentMonthReports.length > 0">
        <div *ngFor="let report of currentMonthReports; let i = index">
          <div *ngIf="i === currentAccountIndex">
            <h3>Raportul lunii curente pentru contul de tip {{ report.accountType }}</h3>
            <p>Total Cheltuieli: {{ report.totalExpenses }}</p>
            <p>Număr de Cheltuieli: {{ report.numberOfExpenses }}</p>
          </div>
        </div>
        <button (click)="showPreviousReport()" [disabled]="currentAccountIndex === 0">Previous</button>
        <button (click)="showNextReport()" [disabled]="currentAccountIndex === currentMonthReports.length - 1">Next</button>
      </div>
      <div *ngIf="currentMonthReports.length === 0">
        <p>Nu există rapoarte disponibile.</p>
      </div>
    </div>
    
    <div class="section realizari">
      <h2>Realizări</h2>
      <p>Descoperă și monitorizează realizările tale financiare.</p>
    </div>
  </div>
</div>
