<!DOCTYPE html>
<html>
<body>
<div class="container">
  <div class="header">
    <h1>Salutări, {{ userName }}!</h1>
  </div>
  
  <div class="sections">
    <div class="section_sfaturi">
      <h2>Sfaturi</h2>
      <ul>
        <li *ngFor="let advice of personalizedAdvice">{{ advice }}</li>
      </ul>
    </div>
    
    <div class="section_goals">
      <h2><a href="/goals" aria-label="goals">Goals</a></h2>
      <p>Setează și monitorizează obiectivele tale financiare.</p>
    </div>
    
    <div class="section_reports">
      <h2><a href="/expenses" aria-label="reports">Rapoarte</a></h2>
      <p>Vizualizează rapoartele detaliate ale cheltuielilor tale.</p>
      <div *ngIf="currentMonthReports.length > 0">
        <div *ngFor="let report of currentMonthReports; let i = index">
          <div *ngIf="i === currentAccountIndex">
            <h3>Raportul lunii pentru contul {{ report.accountType }}</h3>
            <p>Total Cheltuieli: {{ report.totalExpenses }}</p>
            <p>Număr de Cheltuieli: {{ report.numberOfExpenses }}</p>
          </div>
        </div>
        <button (click)="showPreviousReport()" [disabled]="currentAccountIndex === 0">Previous</button>
        <button (click)="showNextReport()" [disabled]="currentAccountIndex === currentMonthReports.length - 1">Next</button>
      </div>
      <div *ngIf="currentMonthReports.length === 0">
        <p>Nu există rapoarte disponibile.</p>
      </div>
    </div>
    
    <div class="section_realizari">
      <h2>Realizări</h2>
      <p>Descoperă și monitorizează realizările tale financiare.</p>
    </div>
  </div>
</div>

</body>
</html>