<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mindful Wallet Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>
  <div class="login-container">
    <div class="wallet-logo">
      <img src="/assets/MindfulWalletLogo.png">
    </div>
    <h1>Mindful Wallet</h1>
    <form class="login-form">
      <label for="email">Sign into your account</label>
      <input type="email" id="email" placeholder="Email address" required>
      <input type="password" id="password" placeholder="Password" required>
      <button type="submit">Login</button>
      <div class="links">
        <a href="#">Forgot password?</a>
        <a href="signup">Don't have an account? Register here</a>
      </div>
    </form>
    <div class="footer">
      <a href="#">Terms of use</a>
      <a href="#">Privacy policy</a>
    </div>
  </div>
</body>
</html>
