<div class="container">
    <header class="header">
        <h1>Salutări!</h1>
    </header>
    <main>
        <section class="intro">
            <div class="intro-content">
                <h2>Te-ai săturat să îți fugă banii printre degete?</h2>
                <p>Mindful Wallet este aplicația pentru tine! Descoperă feature-urile noastre și economisește pentru viitorul tău. Nu mai aștepta!</p>
                <div class="cta-buttons">
                    <a class="cta-button" href="/signup">Fă-ți cont!</a>
                    <a class="cta-button" href="/login">Loghează-te!</a>
                </div>
            </div>
        </section>
        <section class="features">
            <div class="feature">
                <h3>Analizează-ți cheltuielile!</h3>
                <img src="/assets/financePage.jpg" alt="Example" class="image-container">
            </div>
            <div class="feature">
                <h3>Setează obiective!</h3>
                <img src="/assets/goalsPage.png" alt="Example" class="image-container">
            </div>
        </section>
    </main>
</div>
