<div class="container">
    <header class="header">
        <h1>Salutări!</h1>
    </header>
    <main>
        <section class="intro">
            <div class="intro-content">
                <h2>Te-ai saturat sa iti fuga banii printre degete?</h2>
                <p>Mindful Wallet este aplicatia pentru tine! Descopera feature-urile noastre si economiseste pentru viitorul tau. Nu mai astepta!</p>
                <a class="cta-button" href="/signup">Fa-ti cont!</a>
                <a class="cta-button" href="/login">Logheaza-te!</a>
            </div>
        </section>
        <section class="features">
            <div class="feature">
                <h3>Analizeaza-ti cheltuielile!</h3>
                <p>And an even wittier subheading.</p>
            </div>
            <div class="feature">
                <h3>Seteaza obiective!</h3>
                <p>And an even wittier subheading.</p>
            </div>
        </section>
    </main>
</div>
