<div class="app-background"></div>
<div class="app-content">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/MindfulWalletLogo.png" alt="MindfulWalletLogo" width="60" height="60" class="d-inline-block align-middle mr-2">
                MindfulWallet
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="expenses" routerLinkActive="active" ariaCurrentWhenActive="page">Finances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="goals" routerLinkActive="active" ariaCurrentWhenActive="page">Goals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="calendar" routerLinkActive="active" ariaCurrentWhenActive="page">Calendar</a>
                    </li>
                    <li class="nav-item dropdown me-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Get inspired
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://www.instagram.com/mindfulwalletapp/">Instagram</a></li>
                            <li><a class="dropdown-item" href="https://www.youtube.com/channel/UCTxxL-N3FwAyqlreKMdhzRA">YouTube</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                    </li>
                    <li class="nav-item ms-auto">
                        <a class="nav-link" routerLink="signup" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a>
                    </li>
                    <li class="nav-item ms-auto" *ngIf='isLoggedIn'>
                        <a class="nav-link" (click)="onLogout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
